<a href="https://colab.research.google.com/github/jayantc14/Yelp_Data_Analysis/blob/main/mergingcoviddata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/yelp_dataset/textblob_vader_refined2.csv")

In [ ]:
#df2 = pd.read_csv("/content/drive/MyDrive/yelp_dataset/covid_county_data2.csv")

In [ ]:
#df2

In [ ]:
#df2.sort_values(by=['date'], inplace=True, ascending=True)

In [ ]:
df.drop(['Unnamed: 0','Unnamed: 0.1'],axis=1)

                   business_id      city  ... Vader Sentiment Vader Analysis
0       2v0-gBcXethuNFT6rMGiRw    Boston  ...          0.9889       Positive
1       T1wflZohQRZVb9SKQapfFA    Boston  ...          0.9618       Positive
2       uexKxrLmPO5iaXRT9TvWqQ  Portland  ...          0.7723       Positive
3       b4PgITSqSWoPhyJ-Mjko7Q  Portland  ...          0.8519       Positive
4       2EJpVjliJ6Ceijbz9HSpeQ  Portland  ...          0.9307       Positive
...                        ...       ...  ...             ...            ...
197944  jPzZkfLB06MRbXGTQTjPhQ  Portland  ...          0.9774       Positive
197945  IqyqfQFnBsOIReGrcgaYhA    Boston  ...          0.1761        Neutral
197946  9cGMeGzjfhH85M-Bp9rY9Q  Portland  ...         -0.6486       Negative
197947  Ro35BZZpDcf92BOKvkhoag  Portland  ...          0.9696       Positive
197948  DZm67Anqn1IQTB9iGvw4Fw    Boston  ...          0.5106       Positive

[197949 rows x 19 columns]

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df['date'] = df['date'].dt.date

**Castle Rock**

In [ ]:
#df_CastleRock = df[df['city'].str.contains('Castle Rock',case=False, na=False)]

In [ ]:
#df_CastleRock

**Boston**

In [ ]:
df_Boston = df[df['city'].str.contains('Boston',case=False, na=False)]

In [ ]:
df_Boston.reset_index(drop = True,inplace = True)

In [ ]:


#df_Boston

In [ ]:
#df_Boston['date']

In [ ]:
#df_Boston.loc[75964,'date']

In [ ]:
#dfc_Boston.loc[362,'date']

In [ ]:
#df_Boston.loc[75964,'date'] == dfc_Boston.loc[362,'date']

In [ ]:
dfc_Boston = pd.read_csv("/content/drive/MyDrive/yelp_dataset/suffolk.csv")

In [ ]:
dfc_Boston['date'] = pd.to_datetime(dfc_Boston['date'])

In [ ]:
dfc_Boston['date'] = dfc_Boston['date'].dt.date

In [ ]:
dfc_Boston.sort_values(by=['date'], inplace=True, ascending=True)

In [ ]:
#dfc_Boston

In [ ]:
#dfc_Boston['date']

In [ ]:
#df_Boston

In [ ]:
#result = df_Boston.merge(dfc_Boston, on=['date'])
result = pd.merge(df_Boston,dfc_Boston, on=['date'],how = 'outer')

In [ ]:
#result

In [ ]:
result['cases'].isnull().sum(axis = 0)

55239

In [ ]:
result.loc[75964,'cases']

70398.0

In [ ]:
result.fillna(0,inplace=True)

In [ ]:
result = result.head(75966)

**Port Land**

In [ ]:
df_Portland = df[df['city'].str.contains('Portland',case=False, na=False)]

In [ ]:
df_Portland.reset_index(drop = True,inplace = True)

In [ ]:
dfc_Portland = pd.read_csv("/content/drive/MyDrive/yelp_dataset/multnomah.csv")

In [ ]:
dfc_Portland['date'] = pd.to_datetime(dfc_Portland['date'])

In [ ]:
dfc_Portland['date'] = dfc_Portland['date'].dt.date

In [ ]:
dfc_Portland.sort_values(by=['date'], inplace=True, ascending=True)

In [ ]:
#result = df_Boston.merge(dfc_Boston, on=['date'])
result1 = pd.merge(df_Portland,dfc_Portland, on=['date'],how = 'outer')

In [ ]:
df_Portland

        Unnamed: 0  Unnamed: 0.1  ... Vader Sentiment Vader Analysis
0                2             2  ...          0.7723       Positive
1                3             3  ...          0.8519       Positive
2                4             4  ...          0.9307       Positive
3                6             6  ...          0.9169       Positive
4                7             7  ...          0.9217       Positive
...            ...           ...  ...             ...            ...
121978      197929        197929  ...          0.9762       Positive
121979      197933        197933  ...          0.8577       Positive
121980      197944        197944  ...          0.9774       Positive
121981      197946        197946  ...         -0.6486       Negative
121982      197947        197947  ...          0.9696       Positive

[121983 rows x 21 columns]

In [ ]:
result1['cases'].isnull().sum(axis = 0)

89865

In [ ]:
result.loc[75964,'cases']

70398.0

In [ ]:
result1.fillna(0,inplace = True)

In [ ]:
result1 = result1.head(121983)

In [ ]:
result1

        Unnamed: 0_x  Unnamed: 0.1  ...    cases deaths
0                2.0           2.0  ...      0.0    0.0
1                3.0           3.0  ...      0.0    0.0
2                4.0           4.0  ...      0.0    0.0
3                6.0           6.0  ...      0.0    0.0
4                7.0           7.0  ...      0.0    0.0
...              ...           ...  ...      ...    ...
121978      197929.0      197929.0  ...  29676.0  480.0
121979      197933.0      197933.0  ...  29676.0  480.0
121980      197944.0      197944.0  ...  29676.0  480.0
121981      197946.0      197946.0  ...  29676.0  480.0
121982      197947.0      197947.0  ...  29676.0  480.0

[121983 rows x 27 columns]

In [ ]:
result1.append(result,ignore_index = True)

        Unnamed: 0_x  Unnamed: 0.1  ...    cases  deaths
0                2.0           2.0  ...      0.0     0.0
1                3.0           3.0  ...      0.0     0.0
2                4.0           4.0  ...      0.0     0.0
3                6.0           6.0  ...      0.0     0.0
4                7.0           7.0  ...      0.0     0.0
...              ...           ...  ...      ...     ...
197944      197941.0      197941.0  ...  70398.0  1548.0
197945      197942.0      197942.0  ...  70398.0  1548.0
197946      197943.0      197943.0  ...  70398.0  1548.0
197947      197945.0      197945.0  ...  70398.0  1548.0
197948      197948.0      197948.0  ...  70398.0  1548.0

[197949 rows x 27 columns]

In [ ]:
result1.to_csv("/content/drive/MyDrive/yelp_dataset/final_data_yelp")

In [ ]:
res = result1.drop(['Unnamed: 0_x','Unnamed: 0.1','state_y','Cleaned Reviews','POS tagged','Lemma','Unnamed: 0_y','state_y'],axis=1)

In [ ]:
result1

        Unnamed: 0_x  Unnamed: 0.1  ...    cases deaths
0                2.0           2.0  ...      0.0    0.0
1                3.0           3.0  ...      0.0    0.0
2                4.0           4.0  ...      0.0    0.0
3                6.0           6.0  ...      0.0    0.0
4                7.0           7.0  ...      0.0    0.0
...              ...           ...  ...      ...    ...
121978      197929.0      197929.0  ...  29676.0  480.0
121979      197933.0      197933.0  ...  29676.0  480.0
121980      197944.0      197944.0  ...  29676.0  480.0
121981      197946.0      197946.0  ...  29676.0  480.0
121982      197947.0      197947.0  ...  29676.0  480.0

[121983 rows x 27 columns]

In [ ]:
res

                   business_id      city state_x  ...     fips    cases  deaths
0       uexKxrLmPO5iaXRT9TvWqQ  Portland      OR  ...      0.0      0.0     0.0
1       b4PgITSqSWoPhyJ-Mjko7Q  Portland      OR  ...      0.0      0.0     0.0
2       2EJpVjliJ6Ceijbz9HSpeQ  Portland      OR  ...      0.0      0.0     0.0
3       7m_Tj6xC5CjulQ-6Wucdpw  Portland      OR  ...      0.0      0.0     0.0
4       DgvT9AiuePR8Z0SKV5BFvw  Portland      OR  ...      0.0      0.0     0.0
...                        ...       ...     ...  ...      ...      ...     ...
121978  RsIfzjTIr7YaKN5FdE6XCA  Portland      OR  ...  41051.0  29676.0   480.0
121979  Ar6kiD00msytHqXhkeVbOA  Portland      OR  ...  41051.0  29676.0   480.0
121980  jPzZkfLB06MRbXGTQTjPhQ  Portland      OR  ...  41051.0  29676.0   480.0
121981  9cGMeGzjfhH85M-Bp9rY9Q  Portland      OR  ...  41051.0  29676.0   480.0
121982  Ro35BZZpDcf92BOKvkhoag  Portland      OR  ...  41051.0  29676.0   480.0

[121983 rows x 20 columns]